<h1>My Puppy Dashboard </h1>
<div class="favorites-container">
  <h2>Added Puppies:</h2>
  <%= render @my_favorites %>
</div>
<div class="playdates-container">
  <h2>Upcoming Play Dates</h2>
  <%= render @my_playdates %>
</div>
